
{% extends 'base.html' %}
{% load static %}

{% block title %} ChatBox | Home  {% endblock %}

{% block body_block %}
{% include 'nav.html' %}
    <div class="container">
        <h3 class="heading">What chat room would you like to enter?</h3>
        <input class="textInput" id="room-name-input" type="text" size="100"><br>
        <input class="button" id="room-name-submit" type="button" value="Enter">
    </div>

    <script>
        document.querySelector('#room-name-input').focus();
        document.querySelector('#room-name-input').onkeyup = function(e) {
            if (e.keyCode === 13) {  // enter, return
                document.querySelector('#room-name-submit').click();
            }
        };

        document.querySelector('#room-name-submit').onclick = function(e) {
            var roomName = document.querySelector('#room-name-input').value;
            window.location.pathname = '/chat/' + roomName + '/';
        };
    </script>
{% endblock %}