<div class="icon-bar">
    <a class="active" href="{% url 'chat:home' %}"><i class="fa fa-home"></i><br><p>Home</p></a> 
    <a href="{% url 'chat:inbox' %}"><i class="fa fa-envelope"></i><br><p>Inbox</p></a>
    <a href="{% url 'chat:global' %}"><i class="fa-solid fa-earth-americas"></i><br><p>Global</p></a>
    <a href="{% url 'chat:profile'%}"><i class="fa fa-user"></i><br><p>Profile</p></a>
    <a href="{% url 'account:sign_out' %}"><i class="fa-solid fa-arrow-right-from-bracket"></i><br><p>Signout</p></a>
</div>