<nav class="navbar navbar-expand-lg navbar-light bg-light">
     <div class="container-fluid">
         <a href="#" class="navbar-brand">Brand</a>
         <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
             <span class="navbar-toggler-icon"></span>
         </button>
         <div class="collapse navbar-collapse" id="navbarCollapse">
             <div class="navbar-nav">
                 <a href="#" class="nav-item nav-link active">Home</a>
                 <a href="#" class="nav-item nav-link">Profile</a>
                 <div class="nav-item dropdown">
                     <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Messages</a>
                     <div class="dropdown-menu">
                         <a href="#" class="dropdown-item">Inbox</a>
                         <a href="#" class="dropdown-item">Sent</a>
                         <a href="#" class="dropdown-item">Drafts</a>
                     </div>
                 </div>
                 <a href="#" class="nav-item nav-link disabled" tabindex="-1">Reports</a>
             </div>
             <div class="navbar-nav ms-auto">
                 <a href="#" class="nav-item nav-link">Login</a>
             </div>
         </div>
     </div>
 </nav>